.container {
	max-width: 600px;
	background-color: lightgray;
	margin: auto;
	padding: 10px 30px;
	box-shadow: none;
}

p {
	font-size: 20px;
}

body {
	padding-top: 50px;
}

div {
	padding: 18px;
	box-shadow: 5px 5px 5px #666666;
	margin-top: 15px;
}

#p-box-offwhite {
	background-color: #FFFFCC;
}

#p-box-lightblue {
	background-color: lightblue;
}

#p-box-lightgreen {
	background-color: lightgreen;
}

#p-box-pink {
	background-color: pink;
}

#p-box-purple {
	background-color: purple;
}

#metrics {
	position: fixed;
	top: 20px;
	right: 20px;
	border: none;
	background-color: gray;
	color: white;
	padding: 5px 20px;
}

#metrics:hover {
	background-color: #ED4E6E;
}

#signup {
	position: fixed;
	top: 20px;
	right: 48%;
	border: none;
	background-color: black;
	color: white;
	padding: 5px 30px;
}

#signup:hover {
	background-color: #ED4E6E;
	color: white;
	font-weight: bold;
}